@font-face {
  font-family: "font-1";
  src: url(../fonts/Hammersmith_One/HammersmithOne-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "font-2i";
  src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(../fonts/Unbounded/Unbounded-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "font-2", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

h1 {
  font: "font-1", sans-serif;
  text-transform: uppercase;
  font-size: 5.4vw;
  text-align: center;
  letter-spacing: 0.3vw;
  width: 80%;
  margin: 0 auto;
}

h2 {
  font: "font-3", serif;
  font-size: 3.5rem;
  letter-spacing: 0.5vw;
  text-transform: uppercase;
}

h3 {
  font: "font-2", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 200;
}

span {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(44, 131, 44);
}

a,
a:visited {
  text-decoration: none;
  color: rgb(19, 19, 19);
}

.section-container {
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.button-s1 {
  color: rgb(19, 19, 19);
  background-color: rgb(224, 224, 224);
  padding: 15px;
  border: rgb(224, 224, 224) 1px solid;
  border-radius: 5px;
  transition: 2s;
  letter-spacing: 1px;
}
.button-s1:hover {
  background-color: rgb(253, 253, 253);
  border: rgb(19, 19, 19) 1px solid;
}
.button-s1 i {
  color: rgb(19, 19, 19);
}

.button-s2 {
  color: rgb(19, 19, 19);
  background-color: rgb(44, 131, 44);
  padding: 15px;
  border: rgb(44, 131, 44) 1px solid;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
}
.button-s2:hover {
  background-color: rgb(224, 224, 224);
  border: rgb(19, 19, 19) 1px solid;
}
.button-s2 i {
  color: rgb(19, 19, 19);
}

header {
  min-height: 40vh;
  background: url(./../img/background-02.jpg) center/cover;
  width: 100%;
  z-index: 0;
  padding-bottom: 5vh;
}
header nav {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}
header nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
header nav .nav-container .logo {
  height: 100%;
}
header nav .nav-container .logo img {
  height: 100%;
}
header nav .nav-container .menu {
  width: 400px;
}
header nav .nav-container .menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav .nav-container .burger-bun {
  display: none;
}
header nav .nav-container .socials {
  padding-right: 20px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
header .title-container {
  width: 100%;
  justify-content: center;
}
header .title-container h2 {
  padding: 5vh 8vw 0;
}
header .title-container a {
  display: block;
  text-align: center;
  margin: 15vh auto 0;
  width: 150px;
}

#headerMain {
  min-height: 100vh;
  background: url(./../img/background-01.jpeg) center/cover;
  width: 100%;
  z-index: 0;
  padding-bottom: 5vh;
}
#headerMain nav {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}
#headerMain nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
#headerMain nav .nav-container .logo {
  height: 100%;
}
#headerMain nav .nav-container .logo img {
  height: 100%;
}
#headerMain nav .nav-container .menu {
  width: 400px;
}
#headerMain nav .nav-container .menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#headerMain nav .nav-container .burger-bun {
  display: none;
}
#headerMain nav .nav-container .socials {
  padding-right: 20px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
#headerMain .title-container {
  width: 100%;
  justify-content: center;
}
#headerMain .title-container h1 {
  padding: 20vh 0 15vh;
}
#headerMain .title-container a {
  display: block;
  text-align: center;
  margin: 15vh auto 0;
  width: 150px;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .section-container {
  width: 100%;
  max-width: 1240px;
  height: 100%;
  align-items: center;
}
footer .section-container .working-hours {
  padding-left: 20px;
  width: 300px;
}
footer .section-container .working-hours span {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}
footer .section-container .working-hours p {
  font-size: 0.8rem;
}
footer .section-container .socials {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
footer .section-container .logo {
  height: 100%;
  width: 300px;
}
footer .section-container .logo img {
  height: 100%;
}

.about {
  background: rgb(19, 19, 19);
  color: rgb(224, 224, 224);
  width: 100%;
  padding: 100px;
  min-height: 600px;
  display: flex;
  align-items: center;
}
.about .section-container {
  position: relative;
  display: block;
  width: 50%;
  margin-left: 35%;
  min-height: 400px;
}
.about .section-container #img1 {
  position: absolute;
  background: url("./../img/mountain-01.jpg") center/cover;
  transform: translate(-50%, -50%);
  left: -45%;
  top: 50%;
  width: 80%;
  height: 100%;
}
.about .section-container h2 {
  text-transform: uppercase;
}
.about .section-container p {
  padding: 50px 0;
}
.about .section-container a {
  color: rgb(224, 224, 224);
}

.bg-vp #bg1 {
  background: url(./../img/snow-02b.jpg) center/cover fixed;
  height: 400px;
  z-index: -1;
}

.services {
  background: rgb(224, 224, 224);
  color: rgb(19, 19, 19);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
}
.services .section-container {
  position: relative;
  display: block;
}
.services .section-container p {
  padding: 50px 0;
}
.services .section-container a {
  color: rgb(19, 19, 19);
}
.services .section-container .img {
  position: absolute;
}
.services .section-container #img4 {
  background: url("./../img/rat-bw-01.png") center/cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: -60%;
}

.contact {
  background: url("./../img/city-02.jpg") center/cover;
  color: rgb(19, 19, 19);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
}
.contact .section-container {
  background: rgba(255, 255, 255, 0.2);
  margin: 0 auto 100px 40%;
  min-height: 350px;
  display: block;
  width: 500px;
  box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.74);
  border-radius: 25px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 50px 0 0;
}
.contact .section-container p {
  padding: 50px 0;
  font-weight: 500;
}
.contact .section-container a {
  display: block;
  margin: 0 auto 50px;
  width: 150px;
  color: rgb(19, 19, 19);
}

.history {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;
}
.history .section-container {
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.history .section-container h3 {
  width: 30%;
}
@media screen and (max-width: 925px) {
  .history .section-container h3 {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 50px;
  }
}
.history .section-container p {
  width: 60%;
  text-align: justify;
}
@media screen and (max-width: 925px) {
  .history .section-container p {
    margin: 0 auto;
    min-width: 400px;
  }
}
@media screen and (max-width: 1240px) {
  .history .section-container {
    width: 100%;
  }
}
@media screen and (max-width: 925px) {
  .history .section-container {
    display: block;
  }
}

.team .section-container .left {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
.team .section-container .left .container .team-member {
  width: 100%;
  height: 150px;
}
.team .section-container .left .container .team-member .profile-pic {
  align-items: center;
  height: 100%;
  display: flex;
}
.team .section-container .left .container .team-member .profile-pic img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.team .section-container .left .container .team-member .profile-pic span {
  width: 70%;
}
.team .section-container .right {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
.team .section-container .right .container .team-desc {
  display: none;
  width: 100%;
  height: 300px;
  gap: 25px;
  align-items: center;
}
.team .section-container .right .container .team-desc h5 {
  font-size: 1.4rem;
  color: rgb(44, 131, 44);
  text-align: left;
  font-weight: 300;
}
.team .section-container .right .container .team-desc p {
  text-align: justify;
  max-width: 70%;
}
.team .section-container .right .container .team-desc p strong {
  color: rgb(44, 131, 44);
  font-weight: 400;
}
.team .section-container .right .container #none {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.values .section-container {
  display: block;
}
.values .section-container .value {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.values .section-container .value .left,
.values .section-container .value .right2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
}
.values .section-container .value .right,
.values .section-container .value .left2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
.values .section-container .value .value-desc {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}
.values .section-container .value .value-desc i {
  width: 10%;
  font-size: 2rem;
  color: rgb(44, 131, 44);
}
.values .section-container .value .value-desc p {
  width: 80%;
}

.form {
  background: rgb(19, 19, 19);
  z-index: 0;
  position: relative;
  padding-bottom: 100px;
}
.form .bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(44, 131, 44);
  width: 100%;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
  z-index: 1;
}
.form .section-container {
  z-index: 2;
  display: block;
}
.form .section-container h3 {
  color: rgb(224, 224, 224);
  padding: 100px;
  margin: 0 auto;
}
.form .section-container form {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
}
.form .section-container form .container-form {
  position: relative;
}
.form .section-container form .container-form i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20px;
}
.form .section-container form .container-form input {
  margin: 5px 0;
  width: 100%;
  padding: 20px 40px;
  border: rgb(44, 131, 44) 1px solid;
  border-radius: 20px;
}
.form .section-container form .container-form textarea {
  margin: 5px 0;
  width: 100%;
  padding: 20px;
  border: rgb(44, 131, 44) 1px solid;
  border-radius: 20px;
  height: 200px;
}
.form .section-container form .container-form #submit-bt1 {
  width: 200px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.form .section-container form .container-form #submit-bt1:hover {
  letter-spacing: 3px;
}/*# sourceMappingURL=index.css.map */