.form {
  background: $color2;
  z-index: 0;
  position: relative;
  padding-bottom: 100px;
  .bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $color3;
    width: 100%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    z-index: 1;
  }
  .section-container {
    z-index: 2;
    display: block;
    h3 {
      color: $color1;
      padding: 100px;
      margin: 0 auto;
      @media screen and (max-width: 925px) {
        padding: 100px 50px;
      }
      @media screen and (max-width: 450px) {
        padding: 100px 0;
      }
    }
    form {
      margin: 0 auto;
      width: 100%;
      max-width: 450px;
      .container-form {
        position: relative;
        i {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 20px;
        }
        input {
          margin: 5px 0;
          width: 100%;
          padding: 20px 40px;
          border: $color3 1px solid;
          border-radius: 20px;
        }

        textarea {
          margin: 5px 0;
          width: 100%;
          padding: 20px;
          border: $color3 1px solid;
          border-radius: 20px;
          height: 200px;
        }

        #submit-bt1 {
          width: 200px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 1rem;
          padding: 20px;
          cursor: pointer;
          transition: 0.4s;
          &:hover {
            letter-spacing: 3px;
          }
        }
      }
      // #success-message,
      // #error-message {
      //   display: none;
      // }
    }
  }
}
