#headerMain {
  min-height: 100vh;
  background: url(./../img/background-01.jpeg) center/cover;
  width: 100%;
  z-index: 0;
  padding-bottom: 5vh;
  nav {
    z-index: 10;
    @include center-unique-child;
    height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      .logo {
        height: 100%;
        img {
          height: 100%;
        }
      }
      .menu {
        width: 400px;
        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
      .burger-bun {
        display: none;
      }
      .socials {
        padding-right: 20px;
        width: 150px;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .title-container {
    width: 100%;
    justify-content: center;
    // display: flex;
    // flex-direction: column;
    h1 {
      padding: 20vh 0 15vh;
      margin: 0 auto;
      max-width: 90%;
    }
    h3 {
      display: block;
      margin: 0 auto;
      text-align: center;
      color: $color1;
      backdrop-filter: blur(2px);
      max-width: 80%;
    }
    .bt {
      display: flex;
      align-items: center;
      width: 500px;
      justify-content: center;
      margin: 20vh auto 0;
      @media screen and (max-width: 1440px) {
        margin: 15vh auto 0;
      }
      @media screen and (max-width: 420px) {
        margin: 15vh auto 0;
        flex-direction: column;
      }
    }
    a {
      // display: flex;
      margin: 0;
      text-align: center;
      font-size: 2rem;
      width: 300px;
      @media screen and (max-width: 1440px) {
        font-size: 1.5rem;
        width: 250px;
      }
      @media screen and (max-width: 420px) {
        font-size: 1rem;
        transform: translateX(-30px);
      }
    }
    i {
      font-size: 2rem;
      @media screen and (max-width: 1440px) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 420px) {
        font-size: 1rem;
        transform: translateX(-30px);
      }
    }
  }
}
